body{
    margin: 0px;
    padding: 0px;
    background-color: #303030;
    font-family: 'Inter', sans-serif;
}
main{
    background-color: #F5F5F5;;
}
header{
    width: 100%;
    height: 335px ;
    background-color: #303030;
}
    header h1{
        padding-bottom: 5px;
        padding-top: 130px;     
        padding-left: 62px;
        color: #FFFFFF;
        line-height: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        letter-spacing:-0.025em;
        }
    header p{
        padding-bottom: 140px;
        font-family:'Inter';
        line-height: 28px;
        font-feature-settings:'liga' off;
        padding-left: 62px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        }
section ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 140px;
    padding-left: 80px;
    padding-right: 60px;
    background-color:#F9F9F9;
}
    section ul li h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 1px;
        color: #000000;
    }
    section ul li p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1px;
        color: #000000;
    }
#nome-image{
    display: flex;
    justify-content: space-evenly;
    background-color: #F5F5F5;
}
    #nome-image img{
        padding-bottom: 92px;
        width:500px ;
        height:500px ;
    }
#text-central{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
    #text-central h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 20px;
        color: #000000;
    }
    #text-central p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }
